/* Mobile */
@media screen and (min-width: 320px) and (max-width: 520px){
  .ftr-4-box {width: 100%;float: none;margin: 0;padding: 15px 0;}
  .header-top{background: #000;}  
  .page-template-template-home-page .header.sticky-head, .sticky-head{
    position: static;
  }
}

/* Mobile Portrait View */
@media screen and (max-width:767px) {
  .social-icons,.header-top{text-align: center;}
  .logo,.page-template-template-home-page .header{position: static; transform: none;}
  .page-template-template-home-page .header {background: #ecc200;}
  .content-inner-box{padding: 10px 0; left: 10%; right: 10%;}
  .content-inner-box p,.content-inner-box h2{ display: none; }
  .content-inner-box h2 a {
    font-size: 18px;
  }
  .slider-img-color, .slidesection img{
    height: 300px !important;
  }
  tr.wc-block-cart-items__row {
  gap: 0.4em;
  }
  td.wc-block-cart-item__total{
  padding-left: 0px !important;
  }
  li.wc-block-grid__product{
  max-width:100% !important;
  float:none;
  }
  .boxlayout{
    width: 270px;
  }
  .img-inner-box img{
    height: 300px;
  }
  .wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:100%;}
}

@media screen and (min-width: 768px) and (max-width: 999px){
  .page-template-template-home-page .header{
    position: static;
  }
  .pagecontent {border-top-right-radius: 105px;}
  .content-inner-box {
    left: 10%;
    right: 20%;
  }
  .postsec-list.grid .post, .postsec-list.four-col .post{
    padding: 10px;
  }
  tr.wc-block-cart-items__row {
    gap: 1em;
  }
  li.wc-block-grid__product{
    max-width: 48% !important;
    float: left;
    clear: both;
    margin: 0 1% 2.992em;
    flex: 1 0 48% !important;
  }
  .content-inner-box h2 a{
    font-size: 23px;
  }
  .boxlayout{
    width: 650px;
  }
}

@media screen and (max-width: 1000px){
  .main-nav ul ul, .main-nav .sub-menu{
    opacity: 1;
  }
  .main-nav ul ul.sub-menu a{
    color:#fff;
  }
  .main-nav .sub-menu{
      margin-left: 25px;
  }
  .main-nav li ul{
    border:none;
    box-shadow: none;
    border-top: none !important;
  }
  .main-nav .sub-menu li{
    border-bottom: none;
  }
  .toggle-nav button {font-weight: 500;background: transparent;border: solid 2px #000;color: #000;font-size: 18px; padding: 10px 20px; border-radius: 30px;
  }
  
  .sidenav {height: 100%;width: 100%;position: fixed;z-index: 99999; left: 0;top: -110%;overflow-x: hidden; 
    transition: 0.5s top ease-in-out;overflow-y: scroll;background: #ecc200;opacity: 1;visibility: hidden; }
  body.show-main-menu .sidenav{visibility: visible;top: 0;transition: 0.5s top ease-in-out;}
  .sidenav .close-button {font-size: 36px; display: block !important;color: #fff;}
  .sidenav #site-navigation {width: 100%; }
  .toggle-nav span{font-size:30px; cursor:pointer; text-align: right;}
  .main-nav ul ul li,.menubar .nav ul li,.toggle-nav{display: block;}
  .main-nav ul li a{padding: 8px;text-decoration: none;font-size: 15px;color: #fff;display: block;float: none;margin: 5px 0;border-right: none; }
  .main-nav ul li ul li a:before{content:"\00BB \00a0";}
  .main-nav ul.sub-menu a:hover{padding-left:40px !important;background: none !important;}
  .main-nav ul ul{position: static; width: 100%; background: transparent;border-top-width: 0px; border-bottom-width: 0px;
    box-shadow: none; }
  .main-nav ul ul a{border-bottom: none; padding-left: 40px;}
  .main-nav ul ul ul.sub-menu a{padding-left: 40px;}
  .main-nav li{padding: 0 15px;display: block;border-bottom: solid 1px #fff;} 
  .main-header-box{padding-bottom: 15px;}
  #mySidenav {text-align: left; display: inline;}
  .main-menu {padding: 0em;}
  .main-nav ul.sub-menu>li>a:before {content: unset;}
  .main-nav ul.sub-menu>li>a:hover:before {opacity: 0;left: 0px;width: 0px;}
  .breadcrumb a{
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px){
  .content-inner-box { left: 10%;right: 35%; }
  tr.wc-block-cart-items__row {
  gap: 1em;
  }
  .boxlayout{
    width: 870px;
  }
}
@media screen and (max-width: 320px){
  .woocommerce ul.products li{
    width: 100% !important;
  }
}
@media screen and (min-width:1700px) and (max-width:1900px){
  .container{
    max-width: 1520px;
  }
}
@media screen and (min-width:1920px) {
  .container{
    max-width: 1620px;
  }
}