/*rtl css*/
*{
  margin:0;
  padding:0;
  outline:none;
}
body{
  margin:0;
  padding:0;
  line-height:20px;
  font-size:13px;
  color:#6c6c6c;
  font-family: 'Poppins', sans-serif;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
img{
  border:none;
  margin:0;
  padding:0;
  height:auto;
  max-width:100%;
}
p{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
  color: #ecc200;
  word-wrap: break-word;
}
a:hover{
  color:#333;
  text-decoration:none;
}
input:focus{
  border:2px solid #000;
}
ol,ul{
  margin:0;
  padding:0;
}
.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.aligncenter{
  margin:0;
  padding:0;
  max-width:100% !important;
}
.sticky{
  background: #ededed;
}
.entry-content ol li,
.entry-content ul li{
  margin-right:15px;
}
ul li ul,
ul li ul li ul,
ol li ol, ol li ol li ol{
  margin-right:10px;
}
h1,h2,h3,h4,h5,h6{
  color:#131313;
  margin:0 0 20px;
  padding:0;
  line-height:1.1;
  font-weight:600;
  word-wrap: break-word;
}
h1{
  font-size:32px;
}
h2{
  font-size:30px;
}
h3{
  font-size:24px;
}
h4{
  font-size:20px;
}
h5{
  font-size:18px;
}
h6{
  font-size:14px;
}
.clear{
  clear:both;
}
.alignnone{
  width:100% !important;
}
img.alignleft, .alignleft{
  float:right;
  margin:0 0 0 15px;
  padding:5px;
  border:1px solid #cccccc;
}
img.alignright, .alignright{
  float:left;
  margin:0 15px 0 0;
  padding:5px;
  border:1px solid #cccccc;
}
.left{
  float:right;
}
.right{
  float:left;
}
#comment-nav-above .nav-previous,
#comment-nav-below .nav-previous{
  float:none !important;
  margin:10px 0;
}
ol.comment-list li{
  list-style:none;
  margin-bottom:5px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
a:focus,
input[type='submit']:focus,
input[type='search']:focus,
textarea:focus,
input[type='name']:focus,
input[type='email']:focus,
.toggle-nav button:focus,
a.close-button:focus{
  outline: -webkit-focus-ring-color auto 1px;
}
.boxlayout{
  width: 1140px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  box-shadow: 0 -8px 8px #8e8e8e;
}
.entry-content a,.entry-summary a,.textwidget a, .comment-content p a {
  text-decoration: underline;
}
a.rsswidget.rss-widget-title{
  font-size: 9px;
}
/* = wide block css
-------------------------------------- */
/*.alignwide {
  margin-left  : -80px;
  margin-right : -80px;
}
.alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
}*/
.site-main .alignfull, .site-main .alignwide, .postsec-list .alignfull, .postsec-list .alignwide{
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 20px;
}
.site-main .alignfull img, .postsec-list .alignfull img{
  width: 100% !important
}
.site-main .alignnone, .site-main .aligncenter, .postsec-list .alignnone, .postsec-list .aligncenter{
  width: auto !important;
}
.site-main .alignleft, .postsec-list .alignleft{
  margin-left: 10px;
}
.site-main .wp-block-button a:hover, 
.site-main .wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):hover,
.postsec-list .wp-block-button a:hover, 
.postsec-list .wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):hover{
  background: #131313;
  color: #fff !important;
}
.site-main .wp-block-button.is-style-squared a, .postsec-list .wp-block-button.is-style-squared a{
  border-radius: 0px !important;
}
.site-main .wp-block-button__link, .postsec-list .wp-block-button__link{
  background-color: #ecc200;
  color:#fff !important;
  border-radius: 30px;
  margin-bottom: 10px;
}
.site-main .wp-block-button.is-style-outline a, .postsec-list .wp-block-button.is-style-outline a{
  background:none;
  border:1px solid #ecc200 !important;
  color: #ecc200 !important;
}
.site-main img.alignleft, .site-main .alignleft, .site-main img.alignright, .site-main .alignright,
.postsec-list img.alignleft, .postsec-list .alignleft, .postsec-list img.alignright, .postsec-list .alignright{
  border:none;
}
/*post formate*/
.format-gallery .wp-block-gallery, .format-video figure{
  margin-bottom: 15px;
}
/* = pre loader css
-------------------------------------- */
#preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 50%;
  top: 50%;
  background-image: url(images/status.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px -100px 0 0;
}
/* = header css
-------------------------------------- */
.page-template-template-home-page .sticky-head, .sticky-head {
  position: fixed !important;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: -2px 2px 10px 0px #2d2d2d;
  padding: 45px;
  background-color: #fff !important;
}
.header.sticky-head .main-nav a, .header.sticky-head .main-nav a:hover{
  color: #000;
}
.admin-bar .page-template-template-home-page .sticky-head, .admin-bar .sticky-head{
  top:32px;
}
/* = top header css
-------------------------------------- */
.header-top {
  background: rgba(0, 0, 0, 0) linear-gradient(-90deg, #ecc200 20%, #131313 15%) repeat scroll 100% 0;
}
.logo {
  border-radius: 70px;
  background: #fff;
  position: absolute;
  box-shadow: 0px 2px 3px 0px #000;
  padding: 15px;
  z-index: 999;
}
.logo img{
  border-radius: 50%;
}
h1.site-title, p.site-title{
  font-size: 22px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
h1.site-title a:hover {
  text-decoration: unset;
}
a.mailaddress {
  padding: 15px 0;
  display: inline-block;
  color: #fff;
  font-size: 15px;
}
.social-icons {
  text-align: left;
  padding: 15px 0;
}
.social-icons i {
  color: #fff;
  font-size: 15px;
  margin-right: 15px;
}
.listarticle h2 a:hover,
#sidebar ul li a:hover,
.ftr-4-box ul li a:hover,
.ftr-4-box ul li.current_page_item a,
.social-icons i:hover,
.main-nav ul ul a:hover{
  color: #ecc200;
}

/* = header css
-------------------------------------- */
.page-template-template-home-page .header {
  padding: 15px 0;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 99;
}
.header {
  padding: 15px 0;
  background: #f3f3f3;
}
.contact-us a,.pagemore a,.woocommerce ul.products li.product .button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.button, .woocommerce button.button, .woocommerce #respond input#submit, #commentform input#submit {
  background: #ecc200;
  color: #fff;
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
}
.contact-us a:hover,.pagemore a:hover,
.woocommerce ul.products li.product .button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
#commentform input#submit:hover {
  background: #131313;
  color: #fff;
}

/* = menus css */
#mySidenav {
  display: inline;
}
.main-nav ul {
  margin: 0;
  padding: 0;
}
.main-nav li {
  display: inline-block;
  position: relative;
}
.page-template-template-home-page .main-nav a{
  color: #fff;
}
.main-nav a {
  color: #131313;
  padding: 10px 18px;
  font-size: 15px;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
.main-nav ul li a:hover{
  color:#000;
}
.main-nav .menu-item-has-children > a::after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; 
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: auto;
  left: auto;
  margin-right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
}
.main-nav .menu-item-has-children.current-menu-parent > a::after,
.main-nav .menu-item-has-children.current-menu-ancestor > a::after,
.main-nav .menu-item-has-children.current_page_parent > a::after {
  transform: translateY(-50%) rotate(0deg);
}
.main-nav ul ul {
  position: absolute;
  background: #fff;
  min-width: 250px;
  z-index: 9999;
  top: 98%;
  line-height: 30px;
  opacity: 0;
}
.main-nav ul ul.sub-menu a{
  color:#ecc200;
}
.main-nav ul ul ul {
  right: 100%;
  top: 0%;
}
.main-nav ul ul a {
  color: #1f1f1f;
  border: none;
  padding: 10px;
  margin-top: 5px;
}
.main-nav ul ul li {
  float: none;
  display: block;
  text-align: right;
  border-right: none;
  border-left: none !important;
  padding: 0;
  border-bottom: solid 1px #f1f1f1;
}
.main-nav li ul {
  border-top: 3px solid #ecc200 !important;
  border: 1px solid #EEE;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
}
.main-nav .menu > ul > li.highlight {
  background-color: #006ccc;
}
.main-nav .menu > ul > li.highlight:hover {
  background: transparent;
}
.main-nav .menu-item-has-children:not(.off-canvas):hover > .sub-menu,
.main-nav .menu-item-has-children:not(.off-canvas):focus > .sub-menu,
.main-nav .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu,
.main-nav .menu-item-has-children:not(.off-canvas)[focus-within] > .sub-menum,
.main-nav .menu-item-has-children:not(.off-canvas):focus-within > .sub-menu {
  opacity: 1;
}
.main-nav ul li:hover > ul {
  opacity: 1;
}
.main-nav li.menu-item-has-children:hover > ul,
.main-nav li.menu-item-has-children:focus > ul,
.main-nav li.menu-item-has-children.focus > ul {
  opacity: 1;
}
.main-nav .sub-menu {
  opacity: 0;
  right: -9999px;
  z-index: 99999;
  width: 200px !important;
}
ul.sub-menu ul.sub-menu {
  right: 200px !important;
}
.main-nav .menu-item-has-children:not(.off-canvas):hover > .sub-menu,
.main-nav .menu-item-has-children:not(.off-canvas):focus > .sub-menu,
.main-nav .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu,
.main-nav .menu-item-has-children:not(.off-canvas)[focus-within] > .sub-menum,
.main-nav .menu-item-has-children:not(.off-canvas):focus-within > .sub-menu {
  display: block;
  right: 0;
  margin-top: 0;
  opacity: 1;
  width: auto;
  min-width: 100%;
}
ul.sub-menu ul.sub-menu {
  right: -9999px;
}
.toggle-nav,
a.close-button {
  display: none;
}

/* = slider section css
-------------------------------------- */
.slidesection img{
  object-fit: cover;
}
.slider-img-color{
  background-color: #ecc200;
}
.slider-img-color, .slidesection img{
  height: 800px !important;
}
#head-banner {
  position: relative;
  background: #131313;
  color: #fff;
}
.img-inner-box img{
  width: 100%;
  opacity: 0.4;
}
.content-inner-box {
  position: absolute;
  top: 50%;
  right: 15%;
  left: 50%;
  transform: translateY(-50%);
}
.content-inner-box h2 a {
  font-size: 45px;
  color: #fff;
  font-weight: bold;
}
.pagemore {
  margin: 30px 0;
}
.content-inner-box h1 {
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
}

/* = Services css
-------------------------------------- */
#services_section {
  padding: 5em 0;
}
#services_section h3 {
  font-size: 30px;
  margin: 0 0 30px 0;
}
.thumbbx img {
  border-radius: 60px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.text-inner-box {
  background: #ecc200;
  margin: 0 15%;
  padding: 15px;
  border-radius: 30px;
  position: relative;
  margin-top: -30px;
}
.text-inner-box h4 a {
  color: #fff;
  font-size: 16px;
}

/* = Page lay out css
-------------------------------------- */
.postsec-list input.search-field,
.postsec-list input.search-submit {
  padding: 15px 10px;
}
.contentsecwrap{
  padding:25px 0;
  clear: both;
  margin-top: 3em;
}
.contentsecwrap p{
  margin-bottom:20px;
}
.listarticle,aside.widget{
  padding: 20px;
  border-radius: 5px;
}
.listarticle h2 a{
  color:#131313;
}
.blog-meta{
  font-style:italic;
  margin-bottom:8px;
}
.post-date,
.post-comment{
  display:inline;
  color: #131313;
}
.single_title{
  margin-bottom: 15px;
  font-size: 25px;
}
.post-thumb{
  margin:0 0 15px 0;
}
.postmeta{
  margin-bottom:10px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.nav-links .page-numbers{
  padding:10px 15px;
  color:#fff;
  background-color:#ecc200;
}
span.page-numbers.current, .nav-links .page-numbers:hover{
  background-color: #131313;
}
.nav-links{
  margin: 20px 0;
}
select{ border:1px solid #ccc; width:100%;}

/*scroll to top*/
#button{
  background: #ecc200 ;
  color: #fff;
  cursor: pointer;
  width: 60px;
  text-align: center;
  height: 60px;
  padding-top: 22px;
  position: fixed;
  border-radius: 50%;
  bottom: 60px;
  left: 20px;
  z-index: 9999;
  -moz-border-radius: 0;
  font-size: 15px;
  display: none;
}
/* label css
---------------------------------------------- */
label{
  margin-bottom: 0;
}
#footer .search-form label, #sidebar .search-form label{
  width: 100%;
}
aside.widget ul, .entry-summary li{
  list-style:none;
}
.listarticle .alignfull, .listarticle .alignwide{
  margin-right: 0;
  margin-left: 0;
}
#recentcomments li{
  background-image:none !important;
}
#recentcomments li a{
  padding-right:0px !important;
}
.textwidget select,table{
  width:100%;
}
nav.navigation.pagination {
    margin: 30px auto;
}
/*Clearing floats css*/
.page-links {
  float: unset !important;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  margin:20px auto;
}
.page-links a, .page-links span{
  padding: 10px 15px;
  background-color: #ecc200;
  color: #fff;
}
.page-links .post-page-numbers.current, .page-links a:hover{
  background-color: #000 !important;
}
/*--------------------------------------------------------------
## Sidebar Style 
--------------------------------------------------------------*/
#sidebar input[type="text"],
#sidebar input[type="search"],
#footer input[type="search"]{
  border: solid 2px #ecc200;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
#sidebar input.search-submit,
#footer input.search-submit,
form.woocommerce-product-search button {
  padding: 10px;
  width: 100%;
  border:none;
  background: #ecc200;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}
input.search-submit{
  background-color: #ecc200;
  color: #fff;
  border:none;
  padding: 16px 20px !important;
}
.widget-area .widget::after,
.widget-area .widget::before {
    clear: both;
    content: "";
    display: table;
}
#sidebar .widget-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
 .entry-title h2:before{
 content: "\f185";
    display: inline-block;
    font-family: FontAwesome;
    margin-left: 5px;
}
#sidebar ul {
    list-style: outside none none;
    padding: 0;
    margin: 0;
}
#sidebar ul ul {
    border-bottom:none;
    padding-bottom: 0;
}
#sidebar ul li {
  padding: 5px;
  padding-right: 30px;
  padding-top: 5px;
  position: relative;
}
#sidebar ul li::before {
  color: #ecc200 !important;
  content: "\f192";
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 7px;
  right: 0;
  position: absolute;
  top: 6px;
  margin-right: 2px;
}
#sidebar .widget a,
#sidebar .widget a:visited {
    color: #9d9c9c;
}
#sidebar .widget a:hover,
#sidebar .widget a:active {
   color: #ecc200;
}
#sidebar .widget {
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 2px #cfcfcf;
    border-bottom: 3px solid #ecc200;
    margin-bottom: 30px;
}
#sidebar .widget:hover{
    box-shadow: 0 0 20px #cfcfcf;
}
#sidebar .widget_nav_menu ul li{
  padding: 3px 13px 5px 15px;
}
#sidebar .widget_nav_menu ul li a{ 
  line-height: 2.5;
}
/*calendar widget*/
.widget_calendar {
    text-align: center;
}
.widget_calendar caption {
    background: #ecc200 none repeat scroll 100% 0;
    color: #ffffff;
    padding: 5px;
}
.widget_calendar .pad {
    background: #eeeeee none repeat scroll 100% 0;
}
.widget_calendar #today {
    background: #ecc200 none repeat scroll 100% 0;
    color: #ffffff;
}
.widget .tagcloud a {
    border: 1px solid #dddddd;
    color: #001837;
    display: inline-block;
    font-size: 16px !important;
    line-height: 1.5;
    margin-bottom: 5px;
    padding: 5px 15px;
}
.widget .tagcloud a:hover {
    border: 1px solid #ecc200;
    color: #ecc200;
}
.widget_categories li > a,
.widget_archive li > a {
    display: inline-block;
    min-width: 85%;
}
.search-form .search-submit:focus {
    box-shadow: inherit;
    outline: none;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
img {
    height: auto;
    max-width: 100%;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
td, th {
  border: 1px solid #ddd;
  padding: 5px;
  color:#252525;
}
#footer td, #footer th{
  color: #fff;
}
select {
    width: 100%;
    padding: 5px;
}
#footer .tagcloud a {
  border: solid 1px #fff;
  font-size: 12px !important;
  margin: 2px 0;
  display: inline-block;
  color: #fff;
  padding: 5px;
}
.tagcloud a:hover{
  background-color: #ecc200;
  border-color: #ecc200 !important;
  color: #fff !important;
}
/*footer*/
.footer-widget {
  background: #121212 none repeat scroll 100% 0;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.75);
}
#footer ul {
  list-style: none;
  margin: 0;
  padding-right: 0;
}
#footer ul li {
  font-size: 13px;
  letter-spacing: 0.5px;
  padding: 3px 13px 3px 15px;
  position: relative;
  color: #fff;
}
#footer ul li::before {
  color: #fff;
  content: "\f105";
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 14px;
  right: 0;
  position: absolute;
  top: 3px;
}
#footer a .footer-widget-area {
  float: right;
  padding: 0 25px;
  width: 25%;
}
#footer a,
#footer p {
  color:#fff;
}
#footer a:hover {
  color:#fff;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.postsec-list article.hentry {
    background: #ffffff none repeat scroll 100% 0;
    box-shadow: 0 0 2px #cfcfcf;
    padding: 15px 15px;
    position: relative;
    border-radius: 12px;
    margin-bottom: 30px;
}
.postsec-list article.hentry:hover{
    box-shadow: 0 0 20px #cfcfcf;
}
/* = Footer css
------------------------------------------- */
#footer{
  background-color: #1d1d1d;
  color: #828282;
}
.ftr-4-box{
  width:21%;
  float:right;
  margin:0 0 2% 4%;
  box-sizing:border-box;
  padding:20px;
}
.widget-column-4 {
  margin-left:0px !important;
}
.ftr-4-box h5{
  font-size:25px;
  color:#fff;
  margin-bottom:25px;
  border-bottom:1px solid #303030;
  padding-bottom:15px;
}
.ftr-4-box h5 span{
  font-weight:300;
  color:#ecc200;
}
.ftr-4-box ul{
  margin:0;
  padding:0;
  list-style:inside disc;
}
.ftr-4-box ul li {
  display:block;
  padding:6px 0;
  border-bottom:1px solid #303030;
}
.ftr-4-box ul li a {
  color:#828282;
}
.ftr-4-box a.readmore span{
  color:#fff;
}
.ftr-4-box p{
  margin-bottom:15px;
}
.copywrap {
  background-color: #ecc200;
  color: #fff;
  padding:20px 0;
  font-size: 16px;
}
.copywrap a:hover {
  color: #fff;
}

/* woocommerce CSS
----------------------------------------------*/
span.onsale {    
    left: auto !important;
    right: 15px !important;
    top: 15px !important;
    border-radius: 8px !important;
    margin: 0 !important;
    background: #ecc200;
    color: #fff !important;
    font-size: 15px !important;
    text-transform: capitalize;
    min-height: 30px !important;
    line-height: 2 !important;
}
h2.woocommerce-loop-product__title {
    font-size: 18px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
    font-size: 15px;
    color: #b7b7b7;
}
.woocommerce-product-details__short-description {
    margin: 10px 0;
}
.woocommerce ul.products li.product .star-rating {
    font-size: 16px;
}
.woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text{
    width: 110px;
}
.woocommerce .quantity .qty {
    padding: 9px;
    border-radius: 30px;
    border: solid 2px #131313;
    width: 5em;
}
.woocommerce table.shop_table {
    border: 2px solid #131313;
}
.entry-content table th, .comment-body table th,
.entry-content table td, .comment-body table td{
    border-bottom: 2px #131313 solid;
}
form.checkout.woocommerce-checkout label,
span.woocommerce-input-wrapper,.woocommerce form .form-row label,span.password-input {
    width: 100%;
}
form.checkout.woocommerce-checkout input[type="text"],
form.checkout.woocommerce-checkout input[type="tel"],
form.checkout.woocommerce-checkout input[type="email"],
.woocommerce form .form-row input.input-text {
    padding: 10px;
}
form.checkout_coupon.woocommerce-form-coupon td{
    border: none !important;
}
nav.woocommerce-MyAccount-navigation ul li {
    background: #ecc200;
    padding: 10px;
    border-radius: 70px 70px 70px 0;
    box-shadow: 0 0 5px 2px #fed1c6;
    font-weight: bold;
    margin-bottom: 15px;
    list-style: none;
    margin-right: 0;
}
nav.woocommerce-MyAccount-navigation ul li:hover{
    background: #131313;
}
nav.woocommerce-MyAccount-navigation ul li a{   
    color: #fff;
    text-decoration: none;
}
select.orderby {
    padding: 5px;
    background: transparent;
    border: solid 2px #131313;
}
span.tagged_as {
    display: -webkit-box;
}
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img{
    margin-right: 35px;
    width: 45px;
}

/*braedcrumb*/
.breadcrumb a{
  background-color: #ecc200;
  color:#fff !important;
  padding: 10px;
  font-weight: 500;
  font-size: 15px !important;
  text-decoration: none;
  align-self: center;
  margin-right: 15px;
}
.breadcrumb a:first-child{
  margin-right: 0;
}
.breadcrumb .current-breadcrumb, .breadcrumb a:hover{
  background: #131313;
  color:#fff;
}
.breadcrumb .current-breadcrumb{
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 0;
}
.breadcrumb {
    margin: 30px 0 !important;
    background:none;
    padding: 0;
}

/* Contact form css
-------------------------------------*/
.wpcf7{
  margin:30px 0 0;
  padding:0;
}
.wpcf7 input[type="text"], 
.wpcf7 input[type="tel"], 
.wpcf7 input[type="email"]{
  width:40%;
  border:1px solid #cccccc;
  box-shadow:inset -1px 1px 2px #ccc;
  height:35px;
  padding:0 15px;
  color:#797979;
  margin-bottom:0;
}
.wpcf7 textarea{
  width:60%;
  border:1px solid #cccccc;
  box-shadow:inset -1px 1px 2px #ccc;
  height:150px;
  color:#797979;
  margin-bottom:25px;
  padding:10px;
  padding-left:0;
}
.wpcf7 input[type="submit"]{
  background-color:#ecc200;
  width:auto;
  border:none;
  cursor:pointer;
  color:#ffffff;
  padding:10px 40px;
  border-radius:3px;
} 

/* Comment form
--------------------------------*/
.site-nav-previous, .nav-previous{
 float:right;
}
.site-nav-next, .nav-next{
 float:left;
}
.nav-previous, .nav-next{
    width: 50%;
}
.nav-next{
    text-align: left;
}
#comments{
    margin:30px 0 0;
    float: right;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
nav#nav-below{
 margin-top:15px;
}
.postmeta{
    padding: 5px 0;
    color: #262626;
    display: flex;
    margin:10px 0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    font-size: 13px;
}
.postmeta a{
    color:#262626;
}
.postmeta a:hover{
    color:#ecc200;
}
.breadcrumbs{padding:10px 0; margin-bottom:0;}
ol.commentlist{list-style:none;}
#commentform p{margin:5px 0;}
#commentform label{display:block;}
#commentform input#email, #commentform input#url, #commentform input#author, #commentform textarea, #commentform input#eazycfc_captcha{width:100%; border:1px #ccc solid; padding:10px;}
#commentform input#submit{border:none; }
.form-allowed-tags{display:none;}
ul.errormsg{background:#ffe4e4;}
ul.errormsg li{padding:5px;}
.entry-content table, .comment-body table{ border-collapse:collapse; margin:10px 0;}
.entry-content table td, .entry-content table th, .comment-body table td, .comment-body table th{padding:10px 5px; text-align:right;}
.entry-content table th, .comment-body table th{color:#676767; font-size: 18px; border-bottom:1px #888 solid;}
.entry-content table td, .comment-body table td{border-bottom:1px #ccc solid;}
.fvch-codeblock:hover .comment-form-url{display:block !important;}

/* Comment CSS
------------------------------------------------------*/
.commentlist, ol.commentlist {list-style:none; box-shadow:0 0 5px #666; -moz-box-shadow:0 0 5px #666; -webkit-box-shadow:0 0 5px #666; -khtml-box-shadow:0 0 5px #666; margin:10px 0; background-color:#fff; padding:10px 0;}
.commentlist li, ol.commentlist li { list-style:none; background-image:none !important; padding:0px 15px;}
.commentlist li ol li.depth-2, .commentlist li ol li.depth-3, .commentlist li ol li.depth-4, ol.commentlist li ol li.depth-2, ol.commentlist li ol li.depth-3, ol.commentlist li ol li.depth-4 { border-bottom:none;}
.commentlist li.bypostauthor article, ol.commentlist li.bypostauthor article { background:#f9ffe1;}
.commentlist article, .commentlist li.bypostauthor li article, ol.commentlist li.bypostauthor li article { border:none !important; padding:10px; position:relative; background-color:#fff;}
.commentlist li .fn { font-weight:normal; font-size:15px; font-style:normal;}
.commentlist li.bypostauthor .fn, ol.commentlist li.bypostauthor .fn { color:#000;}
img.avatar { vertical-align:middle; position:static; display:inline-block;}
.commentlist article a time { display:block; clear:both; padding:5px 0 10px; font-size:11px; font-style:italic;}
.commentlist, ol.commentlist p { font-size:14px;}
.commentlist .reply span, ol.commentlist .reply span { display:none;}
.commentlist .reply a, ol.commentlist .reply a { display:block; padding:10px; text-align:center; background:#f6f6f6; margin:5px 0; border:1px #ddd solid;}
.comment-author.vcard{display:inline-block; margin-left:15px; }
.comment-list ul.children li.comment{background-image:none; padding-right:5px;}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 520px){
  .ftr-4-box {width: 100%;float: none;margin: 0;padding: 15px 0;}
  .header-top{background: #000;}  
  .page-template-template-home-page .header.sticky-head, .sticky-head{
    position: static;
  }
}

/* Mobile Portrait View */
@media screen and (max-width:767px) {
  .social-icons,.header-top{text-align: center;}
  .logo,.page-template-template-home-page .header{position: static; transform: none;}
  .page-template-template-home-page .header {background: #ecc200;}
  .content-inner-box{padding: 10px 0; right: 10%; left: 10%;}
  .content-inner-box p,.content-inner-box h1, .content-inner-box h2{ display: none; }
  .content-inner-box h2 a {
    font-size: 18px;
  }
  .slider-img-color, .slidesection img{
    height: 300px !important;
  }
  .wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:100%;}
}

@media screen and (min-width: 768px) and (max-width: 999px){
  .page-template-template-home-page .header{
    position: static;
  }
  .pagecontent {border-top-left-radius: 105px;}
  .content-inner-box {
    right: 10%;
    left: 20%;
  }
  .postsec-list.grid .post, .postsec-list.four-col .post{
    padding: 10px;
  }
}

@media screen and (max-width: 1000px){
  .main-nav ul ul, .main-nav .sub-menu{
    opacity: 1;
  }
  .main-nav ul ul.sub-menu a{
    color:#fff;
  }
  .main-nav .sub-menu{
      margin-right: 25px;
  }
  .main-nav li ul{
    border:none;
    box-shadow: none;
    border-top: none !important;
  }
  .main-nav .sub-menu li{
    border-bottom: none;
  }
  .toggle-nav button {font-weight: 500;background: transparent;border: solid 2px #000;color: #000;font-size: 18px; padding: 10px 20px; border-radius: 30px;}
  .contact-us a{background: #131313;}
  
  .sidenav {height: 100%;width: 100%;position: fixed;z-index: 99999; right: 0;top: -110%;overflow-x: hidden; 
    transition: 0.5s top ease-in-out;overflow-y: scroll;background: #ecc200;opacity: 1;visibility: hidden; }
  body.show-main-menu .sidenav{visibility: visible;top: 0;transition: 0.5s top ease-in-out;}
  .sidenav .close-button {font-size: 36px; display: block !important;color: #fff;}
  .sidenav #site-navigation {width: 100%; }
  .toggle-nav span{font-size:30px; cursor:pointer; text-align: left;}
  .main-nav ul ul li,.menubar .nav ul li,.toggle-nav{display: block;}
  .main-nav ul li a{padding: 8px;text-decoration: none;font-size: 15px;color: #fff;display: block;float: none;margin: 5px 0;border-left: none; }
  .main-nav ul li ul li a:before{content:"\00BB \00a0";}
  .main-nav ul.sub-menu a:hover{padding-right:40px !important;background: none !important;}
  .main-nav ul ul{position: static; width: 100%; background: transparent;border-top-width: 0px; border-bottom-width: 0px;
    box-shadow: none; }
  .main-nav ul ul a{border-bottom: none; padding-right: 40px;}
  .main-nav ul ul ul.sub-menu a{padding-right: 40px;}
  .main-nav li{padding: 0 15px;display: block;border-bottom: solid 1px #fff;} 
  .main-header-box{padding-bottom: 15px;}
  #mySidenav {text-align: right; display: inline;}
  .main-menu {padding: 0em;}
  .main-nav ul.sub-menu>li>a:before {content: unset;}
  .main-nav ul.sub-menu>li>a:hover:before {opacity: 0;right: 0px;width: 0px;}
}

@media screen and (min-width: 1000px) and (max-width: 1199px){
  .content-inner-box { right: 10%;left: 35%; }
}
